body {
    font-family: Arial, Helvetica, sans-serif; background-color: rgb(255, 255, 255); font-size: 14pt; color: 
}
h1 {
    font-family:Arial, Helvetica, sans-serif; background-color: rgb(193, 172, 206);
}

h2 {
    font-family: Arial, Helvetica, sans-serif; background-color: rgb(241, 240, 188);
}
p {
    font: Arial;  
}
