@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: aliceblue;
}
header {
    background-image: url("imagens/piloto-jato-4k-wallpaper2.jpg");
    background-repeat: no-repeat;
    background-position: center center ;
    min-width: 150px;
    padding-top: 40px;
    background-size: cover;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
header > h1 {
    padding-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 3em;
    padding: 50px;
    text-shadow: 2px 2px 0px rgba(255, 0, 0, 0.699);
}
header > p{
    padding-bottom: 30px;
    font-size: 1.3em;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    text-shadow: 2px 2px 0px black;
}
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover footer a:hover {
    text-decoration: underline;
 } 
section {
    padding-left: 30px;
    line-height: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 1.2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section > p {
    padding-bottom: 1em;

}
section > h1 {
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    color: rgba(240, 8, 8, 0.555);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}
section.normal {
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 7vh;
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.89);
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 14px 0px black;
    box-shadow: inset 4px 4px 14px 0px black;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
section.imagem > p {
    background-color: rgba(0, 0, 0, 0.473);
    display: inline-block;
    padding: 2.5vh;
    text-shadow: 1px 1px 0px black;
}
section#img01 {
    background-image: url("imagens/gripen-wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-variant: small-caps;
}
section#img02 {
    background-image: url("imagens/sukhoi-su-35-wallpaper.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    font-variant: small-caps;
    
}
section#img03 {background-image: url("imagens/Eurofighter-typoon-wallpaper.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    font-variant: small-caps;
}
section#img04 {
    background-image: url("imagens/rafale-4k-wallpaper2.jpg");
    background-position: center right;
    background-size: cover;
    font-variant: small-caps;
}
section#img05 {
    background-image: url("imagens/Shennyang\ j-31-img2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-variant: small-caps;

}
section#img06 {
    background-image: url("imagens/chengdu\ j-20.jpg");
    background-position: right right;
    background-size: cover;
    background-repeat: no-repeat;
    font-variant: small-caps;

}
section#img07 {
    background-image: url("imagens/f-35-wallpaper2.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}
section#img08 {
    background-image: url("imagens/su-57-fogo-wallpaper.jpg");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    font-variant: small-caps;
}
section#img09 {
    background-image: url("imagens/f-22-raptor-misseis-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position:  center top;
    background-size: cover;


}
footer {
    background-color: rgb(11, 22, 182);
    color: white;
    text-align: center;
    padding: 10px;
}